.login {
    position: absolute;
    left:25vw;
    top:35vh;
    background-color: silver;
    padding: 3%;
    box-shadow: 1px 1px black;
}

.login::before {
    content: "Admin Login";
    font-weight: bold;
}