body {font-family: sans-serif;
   gap: 1%;
   background-color: #E5E0FF;
}


/*
navbar
*/
.navbar {
   display: flex;
   gap: 1%;
   background-color: rgba(154, 187, 250, 0.644);
   border-radius: 5px;
   font-size: 30px;
   list-style-type:none;  
   margin-bottom: 1vh;
}

.admin_page {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1vw;
}

.admin_page:nth-child(1){
    grid-column: 1;
}

.admin_page:nth-child(2){
    grid-column: 2;    
}

li a {
   display:block;
   color: rgb(102, 102, 102);
   text-align: center;
   padding: 14px 16px;
   text-decoration:none;
}

li a:hover {
   background-color: rgb(154, 248, 228);
   border-radius: 5px;
}
/*
and of navbar
*/


