<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Add Student</title>
</head>
<body>
    {% if message %}
    <p><strong>{{ message }}</strong></p>
    {% endif %}
    <div class="mainForm">
        <form action="" method="post">
            <label for="student_name">Name</label>
            <input type="text" name="student_name" autofocus>
            <label for="student_email">Email Address</label>
            <input type="email" name="student_email" id="">
            <label for="student_grade">Grade</label>
            <input type="text" name="student_grade" id="">
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>