<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.name }}</title>
</head>
<body>
    <h1>{{ course.name }}</h1>
    <h2>{{ course.description }}</h2>
    <h3>
        {% for student in students %}
        <div class="student">
            {{ student.name}} <a href="/course/{{course.id}}/{{student.id}}">add</a>
        </div>
        {% endfor %}
        <h2>Registered Students</h2>
        {% for student in registered %}
        <div class="student">
            {{ student.name}} 
        </div>
        {% endfor %}

    </h3>
</body>
</html>