<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Students App</title>
</head>

<body>

    <div class="navbar">

        <li><a href="/">Home</a></li>
        <li><a href="/add_student">Add Student</a></li>
        <li><a href="/users">Users List</a></li>
        <li><a href="/courses/add">Add Course</a></li>
        <li><a href="/add_teacher">Add Teacher</a></li>
        
    </div>