{% extends 'base.html' %}
{% block content %}
<div class="results">
    <div class="students">
        Results for Students
        {% for student in students %}
            <div class="student">{{ student.name|default:student }}</div>
        {% endfor %}
    </div>
    <div class="courses">
        Results for Courses
        {% for course in courses %}
            <div class="course">{{ course.name|default:course }}</div>
        {% endfor %}
    </div>
    <div class="teachers">
        Results for Teachers
        {% for teacher in teachers %}
            <div class="teacher">{{ teacher.name|default:teacher }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}