{% extends 'base.html' %}
{% block content %}
<div class="title">Search Results</div>
<div class="results">
    <div class="students" style="width:100%">
        {% for student in students %}
            {% include "student-card.html" %}
        {% empty %}
            {% endfor %}
    </div>
    <div class="courses" style="flex-direction: column">
        {% for course in courses %}
            {% include 'course-card.html' %}
            {% empty %}
        {% endfor %}
    </div>
    <div class="teachers">
        {% for teacher in teachers %}
           {% include 'teacher-card.html' %}
            {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock %}